.propertyType {
    background-color: #EFEFEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: white;
    border: 2px solid white; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.propertyType:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.propertyType .pt-image {
    width: 100%;
    max-width: 500px; 
    display: flex;
    justify-content: center;
}

.propertyType .pt-image img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    max-width: 450px; 
    height: auto;
}

.propertyType .pt-tilte h2 {
    font-family: Lora;
    font-size: 22px;
    font-weight: 500;
    line-height: 28.16px;
    text-align: center;

}

.propertyType .pt-description p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    padding-bottom: 10px;
}