

/* __________________________Section 2__________________________  */

.h-sec2{
    /* background-color: #e1db39; */
    background-color: #EFEFEF;
    width: var(screen);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.h-sec2-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}


.heading-green{
    color: #4DAD49;
}

.h-sec2-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}