.signin-LatestDeal {
    width: var(--screenWidth);
    height: 364px;
    margin: 0 5%;
    border-radius: 20px;
    background: #163231;
    position: relative;
    top: 300px;
    overflow: visible;
    display: flex;
    justify-content: space-around;
}

.si-image {
    border-radius: 20px;
    position: absolute;
    top: -180px;
    left: 0;
    object-fit: cover;
}


.si-image img {
    width: auto;
    height: 550px;
    
    
}

.si-text {
    width: 644pxpx;
    height: 100 px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    top: 30px;
    left: 20%;
    gap: 20px;
}

.si-text .si-heading h2 {
    width: 644px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    font-family: Lora;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.96px;
    text-align: center;

}

.si-text .si-para p {
    width: 644px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;

}

.si-signup {
    width: Fill (644px)px;
    height: Hug (110px)px;
    gap: 20px;
    opacity: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.si-signup input[type='text'] {
    width: 500px;
    height: Hug (45px)px;
    padding: 13px 22px 13px 22px;
    gap: 36px;
    border-radius: 50px;
    border: 1px;
    opacity: 0px;
    

}