.su {
    width: Fixed (1440px)px;
    height: calc(100vh - Hug (115.75px)px);
    top: 116px;
    gap: 0px;
    opacity: 0px;
    background-color: #ffffff;
}

.su-signup {
    width: Hug (1, 282px)px;
    height: Hug (1, 137.75px)px;
    top: 82px;
    left: 74px;
    gap: 110px;
    opacity: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}