.propertyCard {
    background: #FFFFFF;
    width: 100%;
    height: auto;
    padding: 18px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 3.7px 0px #00000040;
    
}

.propertyCard:hover{
    transform: scale(1.05);
    transition: all 0.4s ease;
    cursor: pointer;
}

.propertyImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageAndStatus img{
    width: 100%;
    object-fit: cover;
}

.imageAndStatus span {
    position: absolute;
    top: 10px;
    left: 12px;
    z-index: 11;
    background-color: black;
    color: white;
    padding: 6px 16px 6px 16px;
    gap: 10px;
    border-radius: 6px;

}

.currentStatus {
    position: absolute;
    top:-10px;
    right: -15px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: green;
    padding: 18px;
    color:white;
    transform: rotate(-30deg);
    display: flex;
    align-items: center;
    justify-content: center;
}


.propertyDetails{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 40px;

}

.propertyDetails h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
}

.propertyDetails h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #4DAD49;
}

.propertyDetails p {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
}


.propertyDetails span {
    font-size: 11px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    color: #4DAD49;
    display: flex;
    align-items: center;
    
}


.investmentOption{
    position: absolute;
    bottom: -25px;
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEE;
    font-size: 0.7rem;
    border-radius: 6px;
    box-shadow: 0px 0px 3.7px 0px #00000040;
    padding: 0 4%;
}

.investmentOption hr{
    height: 75%;
}


.investmentOption .money{
    color: #4DAD49;
    padding: 2px 0;
    font-size: 0.9rem;
}

.propertyCard .propertyBtn{
    margin: 8px;
    text-align: center;
}


@media screen and (max-width : 600px){
    .imageAndStatus p{
        font-size: .7rem ;
    }
}