.nb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: Fixed (1440px)px;
    height: Hug (115.75px)px;
    padding: 2% 5%;
    gap: 10px;
    opacity: 0px;
    background-color: #0F2928;
    
}

.nb-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: white;
}

.nb-Inventory-Text,
.nb-links ul li:first-child {
    color: #4DAD49;
}

.nb-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: white;
}
.nb-links ul li:hover , .nb-btn {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.nb-btn button {
    background-color: #4DAD49;
    width: Hug (206.75px)px;
    height: Hug (55.75px)px;
    padding: 11px 34px 11px 32px;
    gap: 3px;
    border-radius: 50px;
    opacity: 0px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    cursor:pointer;
}

.nb-btn img {
    padding-left: 6px;
    align-self: center;
}

.nb-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBtn img{
    display: none;
}



@media screen and (max-width : 900px){
    .nb{
        height: 70px;
    }

    .nb-links{
        background: #0F2928;
        position: fixed;
        top: 70px;
        right: 0;
        width: 250px;
        height: calc(100vh - 70px);
        padding-top: 20px 0px;
        
    }


    .nb-links ul{
        flex-direction: column;
    }
    .nb-btn{
        display: none;
        right: 320px ;
    }
    .menuBtn img{
        display: block;
        height: 40px;
        width: auto;
        background-color: #0F2928;
        border: none;
    }

}