.h-sec4{
    width: screen;
    height: 100vh;
    background-color: #EFEFEF   ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.h-sec4-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}