.h-sec4{
    width: screen;
    background-color: #EFEFEF   ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.h-sec4-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


@media screen and (max-width:800px){
    .h-sec4-heading .generalHeading h1{
        font-size: 1.87rem;
    }
}