form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 513px;
  height: 899px;
  top: 94px;
  gap: 10px;
  opacity: 0px;
}

form h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 35.84px;
  text-align: center;
}

form label {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;

}

form input {
  width: 513px;
  height: 65px;
  top: 34px;
  gap: 0px;
  border-radius: 50px;
  border: none;
  opacity: 0px;
  background-color: #EFF0F2;
  padding: 20px;
}

.check-g1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;

}

.check-g1 label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  width: 180px;
}

.check-g1 input[type="checkbox"],
.confirmBtn input[type="checkbox"] {
  margin-right: 6px;
  width: auto;
  height: 60px;
}

.confirmBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpBtn button{
  background: #4DAD49;
  color: white;
  width: Hug (162.75px)px;
  height: Hug (55.75px)px;
  padding: 11px 32px 11px 32px;
  gap: 3px;
  border-radius: 50px;
  opacity: 0px;
  cursor: pointer;
}

.su-haveAccount{
  text-align: center;
}

.confirmBtn a{
  text-decoration: none;
  color: #007074;
  
}

.su-haveAccount a{
  color: #4DAD49;
  text-decoration: none;
}